{% extends 'layout.html' %}

{% block body %}
<style>
	.table {
	  border: 1px solid #dee2e6;
	  width: 70%;
	}
	.table .thead-dark th {
	  color: #000;
	  background-color: #e9ecef;
	  border-color: #e9ecef;
	}
</style>
<body background = "https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

  <div class="container">
	<br>
	
	<table class="table table-hover table-stripped table-borderless">
    	<thead class="thead-dark">
			<tr>
				<th>Student Username</th>
				<th>Count of Transactions</th>
			</tr>
		</thead>
		<tbody>		
			{% for student in data %}
			<tr>
				<td>{{student.studentUsername}}</td>
				<td>{{student.num}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

  </div>
{% endblock %}
