{% extends 'layout.html' %}
{% block body %}
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .table {
    border: 1px solid #dee2e6;
    width: 60%;
  }
  .table .thead-dark th {
    color: #000;
    background-color: #e9ecef;
    border-color: #e9ecef;
  }
</style>
<body background = "https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  <div class="container">
    <h1 style="text-align: center;">Student Fines</h1>

    <br>

    <div>
      <div class="col-12 text-center">
        <a class="btn btn-primary" href="/pay_fine">Pay Fine</a>
      </div>
    </div>
      
    <br>

    <table class="table table-hover table-stripped table-borderless">
      <thead class="thead-dark">
      <tr>
          <th>Student Username</th>
          <th>Fine</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.studentUsername }}</td>
            <td>{{ book.fine }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}