{% extends 'layout.html' %}
{% block body %}
<style>
  .container-fine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
</style>
<body background = "https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

  <div class="container-fine">    
    <h1>Pay Fine</h1>

    <br>

    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">  
      <div class="form-group">
        {{render_field(form.studentUsername, class_="form-control")}}
      </div>
      <div>
        Enter the amount paid by the Student
        {{render_field(form.amountpaid, class_="form-control")}}
        <br>
        <p style="text-align: center;">
          <input type="submit" class="btn btn-primary"  value="Pay Fine">
        </p>
      </div>
    </form>
    
    <br>

    <div>
      <strong>Student paid a fine of ${{newfine}} </strong>
    </div>
  </div>

</body>
{% endblock %}
