{% extends 'layout.html' %}

{% block body %}
<div class="bg">
  <h1>Student Fines</h1>

  <div class="container">
    <div>
      <div class="col-12 text-center">
        <a class="btn btn-primary" href="/pay_fine">Pay Fine</a>
      </div>
    </div>
    <br>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Student Username</th>
          <th>Fine</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.studentUsername }}</td>
            <td>{{ book.fine }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}