{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Login</h1>

    <form method="POST" action="">
      <div class="form-group">
        <label for="staffUsername">Username</label>
        <input type="text" name="staffUsername" id="staffUsername" class="form-control" value="{{ request.form.staffUsername }}" placeholder="Enter your username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" value="{{ request.form.password }}" placeholder="Enter your password">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}